@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;;
}
.outer
{
    width:100vw;
    height:100vh;
    background: linear-gradient(to top left,#1b91ae,#a8f5ff);
    display:flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}
.inner
{
    height:50vh;
    /* border:2px solid red; */
    border-radius: 5px;
    width:400px;
    margin:0 auto;
    position:relative;
    top:40%;
    transform: translateY(-50%);
    padding:20px 40px;
    background:linear-gradient(to top right,#affae2,#cbf7ed);
    box-shadow: 2px 2px 5px #2773a5 ;
    z-index:2;
    
    
}
h1{
    margin-bottom: 10px;
}
.para1
{
    font-size: 0.8rem;
    color:#555;
    margin-bottom: 20px;
}
.para2
{
    font-size:17px;
    font-weight: bold;
    /* padding-bottom: 100px; */
    
}
.para3
{
    font-size:17px;
    font-weight: bold;
}
.para4
{
    font-size:17px;
    font-weight: bold;
}

.signup-headerh1{
    font-size: 2.5rem;
    color:#212121;
}
.signup-body
{
    margin:20px 0px;
}
.one
{
    margin-bottom: 15px;
}
.two
{
    margin-bottom: 15px;
}
.three
{
    margin-bottom: 15px;
}
#fullname
{
    height:35px;
    width:100%;
    padding:5px;
    font-size: 15px;
    border:2px solid #cccc;
    border-radius: 5px;
    padding-left: 10px;

}
#email
{
    height:35px;
    width:100%;
    padding:5px;
    font-size: 15px;
    border:2px solid #cccc;
    border-radius: 5px;
    padding-left: 10px;

}
#password
{
    height:35px;
    width:100%;
    padding:5px;
    font-size: 15px;
    border:2px solid #cccc;
    border-radius: 5px;
    padding-left: 10px;

}
#submit
{
    height:35px;
    width:100%;
    padding:5px;
    font-size: 15px;
    border-radius: 5px;
    border:none;
    color:white;
    background-color: #1b91ae;
    cursor: pointer;

}
.signup-footer
{
    margin-left: 50px;
}
#submit:hover{
    background-color: #115d71;
}
.anchor
{
    color: #115d71;
}
.circle
{
    width:200px;
    height:200px;
    border-radius: 100px;
    background:linear-gradient(to top right,#ffffff33,#ffffffff);
    position:absolute;
}
.c1
{
    top:100px;
    left:40px;
}
.c2
{
    bottom:200px;
    right:50px;
}